*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #0c3bdd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
    gap: 30px;
}
#categoria{
    display: flex;
    width: 10%;
    padding-top: 35px;
}
#btn-categoria{
    font-family:Verdana, Tahoma, sans-serif;
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content:  baseline;
    align-items: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
}
#img-logo{  
    width: 10%;
}
#img-logo #logo{
    width: 100%;
}
#input-pesquisa{
    width: 50%;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
}

#pesquisa{
    padding: 12px 16px 14px;
    
}

#input-pesquisa #pesquisa{
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
::-webkit-input-placeholder {
    color: gray;
 }
 
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: gray;  
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 15px;

 }

#lupa{
    background-color: #4d74ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    cursor: pointer;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
#conta{
    flex-direction: row;
    display: flex;
    color:white;
    width: 17%;
    padding: 5px;
    gap: 10px;
    padding-top: 40px;
    align-items: center;
    font-family:Verdana, Tahoma, sans-serif;
}
#conta svg{
    width: 15%;
    height: 25px;
    cursor: pointer;
}
#conta h5{
    font-size: medium;
    cursor: pointer;
    font-weight: bolder;
}
#produto{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-evenly;
}
#produto-imagem{
    flex-direction: column;
    width: 35%;
    display: flex;
    border: 1px solid black;
}
#produto-imagem img{
    border:  solid 1px;
    width: 100%;
    object-fit: cover;
}
#produto-imagem h1{
    font-size: x-large;
}
img {
    
    transition: transform 0.5s, opacity 0.5s;
  }
  
  img:hover {
    cursor:zoom-in;
    opacity: 1;
    transform: scale(1.1);
  }

  