#produto {
    height: 733px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}

#comprar {
    height: 612px;
    display: flex;
    flex-direction: column;
}

#imagem {
    height: 490px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem img {
    height: 400px;
    width: 400px;
}

.azulCor {
    color: #006bb4;
}

.azulEscuro {
    color: #0c3bdd;
}

#preco h2{
    position: relative;
    top: 5px;    
}

#pagamentoOpcoes {
    position: relative;
    bottom: 15px; 
}

#tiposPagamento {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 20px;
}

#paragrafoOpcoes {
    position: relative;
    top: 13px;
}

#cartaoCredito {
    height: 36px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    border-radius: 3px;
    background-color: #D5F6E2;
}

#pix {
    height: 36px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 3px;
    background-color: #D5F6E2;
}

#cartaoCredito img {
    height: 30px;
    width: 30px;
}

#cartaoCredito p {
    position: relative;
    top: 3px;
}

#pix img {
    height: 25px;
    width: 25px;
}

#pix p {
    position: relative;
    top: 5px;
}

#quantidade {
    position: relative;
    top: 30px;
}

#unidades {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.botao {
    color: #FFF;
    background-color: #0c3bdd;;
    border: none;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#unidades input {
    height: 34px;
    width: 90px;
    border-radius: 5px;
}

#compras {
    height: 220px;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#compra-entrega {
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: #47CC50;
    color: white;
}

#compra-retira {
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: #0c3bdd;
    color: white;
}

.texto-compra {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-compra {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-compra i {
    height: 30px;
    width: 30px;
}

#comprarRetirar {
    text-decoration: none;
    color: white;
    display: flex;
}

#comprarReceber {
    text-decoration: none;
    color: white;
    display: flex;
}

#quantidadeProdutos {
    text-align: center;
}

/* Modal Configuração */

/* Modal Div */ 

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color:  #0c3bdd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#modal h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#modal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border 0.3s;
}

/* Botão "Cadastrar" */

#btn-cadastrar {
    width: 100%;
    padding: 12px;
    background-color:#0c3bdd;
    color: white;
    border: solid;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

#btn-cadastrar:hover {
    background-color: #32CD32;
    transform: translateY(-3px);
}


#btn-cadastrar:focus {
    outline: none;
    box-shadow: 0 0 5px #005bb5;
}

/* Classe de Loading */

.loading{
    color: white;
    padding: 12px 24px; 
    font-size: 16px; 
}

#modal input::placeholder {
    color: #888;
}

@media (max-width: 480px) {
    #modal {
        width: 90%;
    }
}

/* Modal Configuração */